# =========================
# Ambientes e Dependências
# =========================
.env
.env.local
venv/
env/
.venv/
Scripts/

# =========================
# Python & Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Configurações de IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Temporários e Logs
# =========================
*.mp3
*.log

# =========================
# Dados do Usuário (Projeto)
# =========================
agenda.txt

# Ignorar os dados gerados, mas manter as pastas vazias no repositório
rostos/*
!rostos/.gitkeep

img/*
!img/.gitkeep
